<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diệp Thiện Ngôn</title>
</head>

<body>

  <h1>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
    ul.nav.navbar-nav li a {
    font-size: 15px;
}
</style>
<body>

    <div class="container"><nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="../home.html">Admin</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="../home.html">Trang chủ</a></li>

              <li><a href="#">Thông tin website</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục Bài viết
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../post/themdm.html">Thêm</a></li>
                  <li><a href="../post/lietkedm.html">Liệt kê</a></li>
                
                </ul>
              </li>
                 <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bài viết
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../post/themtin.html">Thêm</a></li>
                  <li><a href="../post/lietketin.html">Liệt kê</a></li>
                
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục sản phẩm
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="themdm.html">Thêm</a></li>
                  <li><a href="lietkedm.html">Liệt kê</a></li>
                
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a href="themsp.html">Thêm</a></li>
                  <li><a href="lietkesp.html">Liệt kê</a></li>
                
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Đơn hàng
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
               
                 <li><a href="../order/order.html">Liệt kê</a></li>
                
                </ul>
              </li>
              
                 <li><a href="../login.html">Đăng xuất</a></li>
            </ul>
          </div>
        </nav>
                <h3 style="text-align: center;">Liệt kê sản phẩm</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên </th>
                            <th>Hình </th>
                            <th>Danh mục </th>
                            <th>Giá </th>
                            <th>Số lượng</th>
                            <th>Hot</th>
                            <th>Quản lý</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Adapter Sạc 5W </td>
                            <td><img src="../../../public/uploads/product/adapter-sac-5w-cho-iphone-ipad-ipod-apple-mgn13-thumb-600x6001697475041.jpeg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>360.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="lietkesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Bút cảm ứng Apple Pencil 1</td>
                            <td><img src="../../../public/uploads/product/but-cam-ung-apple-pencil-1-mk0c2-180722-112904-600x6001697475013.jpeg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>2.310.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Bàn phím Magic Keyboard với Touch ID và Numeric Keypad</td>
                            <td><img src="../../../public/uploads/product/phim-magic-touch-id-numeric-keypad-apple-mk2c3-thumb-6-600x6001697474986.jpg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>3.990.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Cáp chuyển đổi Thunderbolt 3 (USB-C)</td>
                            <td><img src="../../../public/uploads/product/cap-thunderbolt-3-usb-c-thunderbolt-2-apple-mmel2-thumb-5-600x6001697474946.jpg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>1.350.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Cáp chuyển đổi USB-C sang VGA</td>
                            <td><img src="../../../public/uploads/product/cap-chuyen-usb-c-sang-vga-multiport-apple-mj1l2-thumb-5-600x6001697474921.jpg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>2.070.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Bộ chuyển đổi chân sạc Adapter Kit Apple</td>
                            <td><img src="../../../public/uploads/product/chan-sac-world-travel-adapter-kit-apple-md837-thumb-600x6001697474879.jpeg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>870.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Apple TV Siri Remote</td>
                            <td><img src="../../../public/uploads/product/apple-tv-siri-remote-mjfn3-bac-thumb-600x6001697474845.jpg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>1.350.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Cáp sạc không dây MagSafe Charger</td>
                            <td><img src="../../../public/uploads/product/cap-sac-khong-day-apple-magsafe-charger-thumb1-1-600x6001697474811.jpeg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>1.190.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Cáp chuyển đổi Lightning sang 3.5mm</td>
                            <td><img src="../../../public/uploads/product/cap-chuyen-doi-lightning-sang-35mm-mmx62-thumb-5-2-600x6001697474777.jpg"
                                    height="100" width="100"></td>
                            <td>Phụ kiện</td>
                            <td>270.000đ</td>
                            <td>80</td>
                            <td>Không có</td>

                            <td><a href="liekesp.html">Xóa</a> || <a
                                    href="suasp.html">Cập nhật</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
        <script type="text/javascript">

            CKEDITOR.replace('editor');

        </script>

        </html>
    </h1>

</body>

</html>

