<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diệp Thiện Ngôn</title>
</head>

<body>

  <h1>
    <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
	ul.nav.navbar-nav li a {
    font-size: 15px;
}
</style>
<body>

	<div class="container"><nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="../home.html">Admin</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="../home.html">Trang chủ</a></li>

		      <li><a href="#">Thông tin website</a></li>
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục Bài viết
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="../post/themdm.html">Thêm</a></li>
		          <li><a href="../post/lietkedm.html">Liệt kê</a></li>
		        
		        </ul>
		      </li>
		         <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bài viết
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="../post/themtin.html">Thêm</a></li>
		          <li><a href="../post/lietketin.html">Liệt kê</a></li>
		        
		        </ul>
		      </li>
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục sản phẩm
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="themdm.html">Thêm</a></li>
		          <li><a href="lietkedm.html">Liệt kê</a></li>
		        
		        </ul>
		      </li>
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		         <li><a href="themsp.html">Thêm</a></li>
		          <li><a href="lietkesp.html">Liệt kê</a></li>
		        
		        </ul>
		      </li>

		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Đơn hàng
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		       
		         <li><a href="../order/order.html">Liệt kê</a></li>
		        
		        </ul>
		      </li>
		      
		     	 <li><a href="../login.html">Đăng xuất</a></li>
		    </ul>
		  </div>
		</nav>
                <h3 style="text-align: center;">Cập nhật danh mục sản phẩm</h3>

                <div class="col-md-6">
                    <form action="lietkedm.html"
                        method="POST">
                        <div class="form-group">
                            <label for="email">Tên danh mục</label>
                            <input type="text" value="iPhone" name="title_category_product" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Miêu tả danh mục</label>
                            <textarea name="desc_category_product" id="editor" style="resize: none;" rows="5"
                                class="form-control"><p>Điện thoại di động</p>
</textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Cập nhật danh mục</button>
                    </form>

                </div>
            </div>


        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
        <script type="text/javascript">

            CKEDITOR.replace('editor');

        </script>

        </html>
    </h1>

</body>

</html>