<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Diệp Thiện Ngôn</title>
</head>

<body>

	<h1>
		<!DOCTYPE html>
		<html lang="en">

		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Admin</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		</head>
		<style>
			ul.nav.navbar-nav li a {
				font-size: 15px;
			}
		</style>

		<body>

			<div class="container">
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="../home.html">Admin</a>
						</div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="../home.html">Trang chủ</a></li>

							<li><a href="#">Thông tin website</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục Bài viết
									<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="themdm.html">Thêm</a></li>
									<li><a href="lietkedm.html">Liệt kê</a></li>

								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bài viết
									<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="themtin.html">Thêm</a></li>
									<li><a href="lietketin.html">Liệt kê</a></li>

								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục sản phẩm
									<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="../product/themdm.html">Thêm</a></li>
									<li><a href="../product/lietkedm.html">Liệt kê</a></li>

								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm
									<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="../product/themsp.html">Thêm</a></li>
									<li><a href="../product/lietkesp.html">Liệt kê</a></li>

								</ul>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Đơn hàng
									<span class="caret"></span></a>
								<ul class="dropdown-menu">

									<li><a href="../order/order.html">Liệt kê</a></li>

								</ul>
							</li>

							<li><a href="../login.html">Đăng xuất</a></li>
						</ul>
					</div>
				</nav>
				<h3 style="text-align: center;">Liệt kê bài viết</h3>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Tên </th>
							<th>Hình </th>
							<th>Danh mục </th>
							<th>Quản lý</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Vì sao bạn nên dán cường lực cho iPhone? Những mẫu cường lực tốt nhất trên thị trường
							</td>
							<td><img src="../../../public/uploads/post/5-270923-110916-800-resize1697477819.jpg"
									height="100" width="100"></td>
							<td>Iphone 15</td>

							<td><a onclick="confirm('Are you sure baby')"
									href="lietketin.html">Xóa</a> || <a
									href="suatin.html">Cập nhật</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Có nên dùng ốp lưng cho iPhone? Vừa an toàn mà lại còn thẩm mỹ</td>
							<td><img src="../../../public/uploads/post/oppo-031023-105013-800-resize1697477759.jpg"
									height="100" width="100"></td>
							<td>Iphone 15</td>

							<td><a onclick="confirm('Are you sure baby')"
									href="lietketin.html">Xóa</a> || <a
									href="suatin.html">Cập nhật</a></td>
						</tr>
						<tr>
							<td>3</td>
							<td>Adapter sạc - Phụ kiện iPhone 15 mà bạn nên sở hữu</td>
							<td><img src="../../../public/uploads/post/oppo3-031023-104948-800-resize1697477697.jpg"
									height="100" width="100"></td>
							<td>Iphone 15</td>

							<td><a onclick="confirm('Are you sure baby')"
									href="lietketin.html">Xóa</a> || <a
									href="suatin.html">Cập nhật</a></td>
						</tr>
						<tr>
							<td>4</td>
							<td>Seal mới của iPhone 15 bị làm giả xuất hiện tại Việt Nam, giá từ 50.000 đồng</td>
							<td><img src="../../../public/uploads/post/hopmoicuaiphone15giacothequettiauvyhetnhuhangthat-141023-100547-800-resize1697477571.jpg"
									height="100" width="100"></td>
							<td>Iphone 15</td>

							<td><a onclick="confirm('Are you sure baby')"
									href="lietketin.html">Xóa</a> || <a
									href="suatin.html">Cập nhật</a></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Đánh giá iPhone 15 Pro: Thiết kế được tinh chỉnh</td>
							<td><img src="../../../public/uploads/post/danh-gia-iphone-15-pro-thumb-141023-181550-600x4001697476821.jpg"
									height="100" width="100"></td>
							<td>Iphone 15</td>

							<td><a onclick="confirm('Are you sure baby')"
									href="lietketin.html">Xóa</a> || <a
									href="suatin.html">Cập nhật</a></td>
						</tr>

					</tbody>
				</table>
			</div>


		</body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
		<script type="text/javascript">

			CKEDITOR.replace('editor');

		</script>

		</html>
	</h1>

</body>

</html>