<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="website icon" type="jpg" href="../public/images/icon.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script>
        function checkLoginStatus() {
            const isLoggedIn = localStorage.getItem('isLoggedIn');
            if (!isLoggedIn) {
                window.location.href = '../../login.html';
            }
        }

        checkLoginStatus();
    </script>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../index.html">Admin</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../index.html">Trang chủ</a></li>

                    <li><a href="#">Thông tin website</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục Bài viết
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="add_category.html">Thêm</a></li>
                            <li><a href="list_category.html">Liệt kê</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bài viết
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="add_post.html">Thêm</a></li>
                            <li><a href="list_post.html">Liệt kê</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục sản phẩm
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../product/add_category.html">Thêm</a></li>
                            <li><a href="../product/list_category.html">Liệt kê</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../product/add_product.html">Thêm</a></li>
                            <li><a href="../product/list_product.html">Liệt kê</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Đơn hàng
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="../order/order.html">Liệt kê</a></li>

                        </ul>
                    </li>

                    <li><a id="dx">Đăng xuất</a></li>
                </ul>
            </div>
        </nav>
        <!-----------End Menu----------------->
        <h3 style="text-align: center;">Thêm bài viết</h3>

        <div class="col-md-6">
            <form id="add_post_form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Tên bài viết</label>
                    <input type="text" id="title_post" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Hình ảnh sản phẩm</label>
                    <input type="file" id="image_post" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd">Chi tiết bài viết</label>
                    <textarea id="editor" name="content_post" rows="10" style="resize: none"
                        class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="pwd">Danh mục bài viết</label>
                    <select class="form-control" id="category_post">

                    </select>
                </div>

                <button type="submit" name="addpost" class="btn btn-default">Thêm bài viết</button>
            </form>
        </div>
    </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<script type="text/javascript">

    CKEDITOR.replace('editor');

</script>

<script type="module">
    import { addpost, category_post } from '../../../model/admin-post.js';
    import { dx } from '../../../model/login.js'

    document.getElementById('dx').addEventListener('click', dx);
    document.addEventListener('DOMContentLoaded', function () {
        addpost();
    });

    document.getElementById('category_post').innerHTML = await category_post();

</script>

</html>