<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="website icon" type="jpg" href="../public/images/icon.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script>
        function checkLoginStatus() {
            const isLoggedIn = localStorage.getItem('isLoggedIn');
            if (!isLoggedIn) {
                window.location.href = '../../login.html';
            }
        }

        checkLoginStatus();
    </script>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../index.html">Admin</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../index.html">Trang chủ</a></li>

                    <li><a href="#">Thông tin website</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục Bài viết
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="add_category.html">Thêm</a></li>
                            <li><a href="list_category.html">Liệt kê</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bài viết
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="add_post.html">Thêm</a></li>
                            <li><a href="list_post.html">Liệt kê</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục sản phẩm
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../product/add_category.html">Thêm</a></li>
                            <li><a href="../product/list_category.html">Liệt kê</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../product/add_product.html">Thêm</a></li>
                            <li><a href="../product/list_product.html">Liệt kê</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Đơn hàng
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="../order/order.html">Liệt kê</a></li>

                        </ul>
                    </li>

                    <li><a href="<?php echo BASE_URL ?>/login/logout">Đăng xuất</a></li>
                </ul>
            </div>
        </nav>
        <!-----------End Menu----------------->
        <h3 style="text-align: center;">Liệt kê danh mục bài viết</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên danh mục</th>
                    <th>Mô tả</th>
                    <th>Quản lý</th>
                </tr>
            </thead>
            <tbody id="listcategorypost">

            </tbody>
        </table>
    </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<script type="text/javascript">

    CKEDITOR.replace('editor');

</script>


<script type="module">
    import { listcategorypost, xoadmbv } from '../../../model/admin-post.js';
    import { dx } from '../../../model/login.js'

    document.getElementById('dx').addEventListener('click', dx);
    document.addEventListener('DOMContentLoaded', async function () {
        document.getElementById('listcategorypost').innerHTML = await listcategorypost();

        // Gắn sự kiện click cho tất cả các liên kết xóa sản phẩm
        const deleteLinks = document.querySelectorAll('[id^="deleteCategorypostLink_"]');
        deleteLinks.forEach(link => {
            const id_category_post = parseInt(link.id.split('_')[1]);
            link.addEventListener('click', () => xoadmbv(id_category_post));
        });
    });
</script>

</html>